<div class="container" >
  <h3 class="">Welcome To Meetup!</h3>
  
<div class="row marketing clearfix " ng-controller="GetEventsCtrl">
 

<table class="table table-striped">
  <caption>Upcoming Events</caption>
<thead>

</thead>
<tbody>
  <tr>
   <th>Name</th> <th>Type</th> <th>Location</th> <th>Host</th> <th>Start Date & Time</th>
   <th>End Date & Time</th> <th>Additional Information</th>
</tr>
 <tr ng-repeat="event in events">
  <td>{{event.name}}</td>
  <td>{{event.type || 'Meeting'}}</td>
  <td>{{event.location || 'Not Yet Decided'}}</td>
  <td>{{event.host}}</td>
  <td>{{event.start || 'Not Yet Decided'}}</td>
  <td>{{event.end || 'Not Yet Decided'}}</td>
  <td>{{event.additionalMsg || 'None'}}</td>
</tr>
</tbody>
</table>
</div>

</div>
