<div class="container" >
  <h3>Meetup App For Your Meetup Needs</h3>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure managing your events.
  </p>
  <p class="lead">Welcome home <b>{{username}}</b>!!</p>
  <p><a class="btn btn btn-success" ng-href="#/create">Create Event!<span></span></a></p>
</div>

<div class="row marketing clearfix">

<div ng-repeat="event in events" class="col-xs-6 col-md-3 thumbnail ">
  <h4>{{event.name}}</h4>
  <p> <h6> Location: {{event.location}}</h6></p>
    <p>
    
    </p>
</div>


